In [28]:
# this is not a part of project, this is to display data, so refer it for column indexes and other details.
import pandas as pd
df=pd.read_csv(r"C:\Users\Vinayak\Downloads\nyc_taxis.csv")
df

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89555,2016,6,30,4,5,3,4,9.50,1989,31.0,1.3,5.54,3.00,40.84,1
89556,2016,6,30,4,5,2,4,19.80,2368,52.0,0.8,5.54,0.00,58.34,1
89557,2016,6,30,4,5,2,4,17.48,2822,52.0,0.8,5.54,5.00,63.34,1
89558,2016,6,30,4,5,2,6,12.76,1083,34.5,1.3,0.00,8.95,44.75,1
89559,2016,6,30,4,5,2,0,17.54,1711,48.0,1.3,5.54,0.00,54.84,2

In [14]:
# import requred pakages
import numpy as np

# get the data from source file to python code
data=np.genfromtxt(r"C:\Users\Vinayak\Downloads\nyc_taxis.csv", delimiter=",", skip_header=True)

#calculate speed
#speed=distance(km)/time(hr)

speed=data[:,7]/(data[:,8]/3600)

#calculating mean speed.
mean_speed=speed.mean()
print('Mean speed :',mean_speed,'km/hr')

Mean speed : 32.24258580925573 km/hr

In [18]:
#determining total rides in month of feb
#using operator logic to spaperate out requred column only
feb_rides=data[data[:, 1]==2,1]
print('Total rides in Feb:',feb_rides.shape[0])

Total rides in Feb: 13333

In [23]:
#trips with tip greater than $50.
tip=data[data[:,12]>50,1]
tip.shape[0]
print('There are',tip.shape[0], 'trips where tip offred is more than 50 bucks')

There are 16 trips where tip offred is more than 50 bucks

In [29]:
#no of drops happended on JFK airport
#location code for JFK airport is 2
drop_at_jfk=data[data[:,6]==2]
drop_at_jfk.shape[0]
print(drop_at_jfk.shape[0], 'drops happened on JFK airport')

11832 drops happened on JFK airport

In [38]:
# calculate no of payments made by cash and calculate total amount
# payment code for cash paytmets is 1
pay_by_cash=data[data[:,-1]==1]
pay_by_cash.shape[0]

print("No of payments made by cash is:",pay_by_cash.shape[0])

#calculate total amount

print("toatl", pay_by_cash.sum(), 'dollers of payment made by cash')

No of payments made by cash is: 64356
toatl 283900999.4 dollers of payment made by cash